@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
  font-family: 'Ubuntu', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
/* header */
.container-header {
  background-color:#2E948A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }
.logo {
    margin: 2% 5%;
}
.container-header nav{
  text-align: right;
  margin-right: 5%;
}
.navegacao-item{
  display: inline;
}
.navegacao-item-link{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: #FDFDFD;
    text-transform: uppercase;
    margin: 10px 20px;
}
/* footer */
footer {
  background-color:#2E948A;
  padding: 1% 2%
}
.logo-fot {
  margin: 3% 5%;
}
.container-footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
.container-footer nav{
  text-align: left;
  margin-right: 5%;
}
.nav-footer{
  margin: 0;
  padding: 0;
  list-style: none  
}
.nav-footer-item-link{
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  line-height: 25.9px;
  margin: 10px 20px;
}
.botoes {
  align-items: left;
  text-align: left;
}

.button {
  background-color: #2E948A;
  color: #FFFFFF;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  border: 2px solid #FFFFFF;
  border-radius: 62px;
  padding: 10px 40px;
  height: 40px;
  width: 250px;
}
/* main */

main {
    margin: 5%;
}
.banner{
    display: flex;
    justify-content: center;
}
.banner img{
    display: flex;
    padding: 3%;
    display: flex;
    margin-top: 5%;
    max-width: 30%;
}
.banner div{
    width: 50%;
    text-align: left;
} 
.banner div h1 {
    color: #FF4081;
    font-size: 55px;
    font-weight: bold;
    margin: 0;
    padding: 20px 0;
}

.banner div p {
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    padding: 0;
    color: #000;
}
hr {
    display: flex;
    flex-wrap: wrap;
    color: #C4C4C4;
    width: 100%;
    height: 5px;
    background-color: #C4C4C4;
    border: none;
}
.container-mae{
    margin: 2% 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.box{
    display: flex;
    align-items: center;
}
.box iframe{
    padding: 3%;
}
.box div{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    margin: 3%;
}

.box div h2{
    color: #FF4081;
    font-size: 35px;
    font-weight: bold;
} 
.box div p{
    font-size: 18px;
    margin: 5% 0;
} 